#main{
	-fx-background-color: #d5d9f2;
}

#startDateInput{
  -fx-background-radius: 10 10 10 10;
}
#endDateInput{
  -fx-background-radius: 10 10 10 10;
}

#tableView{
  -fx-background-radius: 10 10 10 10;
}

#tableView{
  -fx-background-radius: 10 10 10 10;
}
